body{
  -webkit-font-smoothing: antialiased;
}
a:hover,a:focus,a:active,a:visited{
  text-decoration: none;
}
.content-wrap{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
@media(min-width:760px){
  .content-wrap{
    flex-direction:row;
  }
}
.nav-header{
  height: 80px;
  background-color: #00bcd4;
  flex-shrink:0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0 10px;
  color:#fff;
}
.nav-header h3{
  margin: 0;
  font-weight: 600;
}
.nav-header p{
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.3);
  padding:3px 5px;
  border-radius: 8px;
  margin: 0;
  cursor: pointer;
}
.nav-footer{
  height: 80px;
  background-color: #00bcd4;
  flex-shrink:0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-size: 18px;
}
.nav-footer a{
  color:#fff;
  flex-grow: 1;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}
.nav-footer p:last-child{
  border: none;
}
.left-nav{
  display: flex;
  flex-direction: column;
  width: 300px;
  flex-shrink: 0;
  background-color: #00bcd4;
}
.left-nav h3{
  color:#fff;
  text-align: center;
  padding: 20px 0;
  margin: 0;
  border-bottom: 2px solid #FFEB3B;
  font-weight: 600;
}
.left-nav a{
  padding:20px;
  font-size: 18px;
  color:#fff;
}
.left-nav a:hover{
  background-color: rgba(0, 0, 0, 0.2);
}
.content-main{
  flex-grow: 1;
  overflow-y: scroll;
  display: flex;
}
.home-container{
  background-image: url(./images/home-bg.jpg);
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  display: flex;
}
.home-cover{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
}
.home-item{
  color:#fff;
  text-align: center;
  margin: 0 auto;
}
.home-btn{
  border: none;
  border-radius: 2px;
  background-color: #ff4081;
  padding:8px 20px;
  font-size: 16px;
}

.home-btn:hover{
  background-color: #00bcd4;
}
.blog-btn{
  transition: all 450ms ease;
  border-radius: 8px;
  border:1px solid red;
  padding:8px 10px;
  color:red;
}
.blog-btn:hover{
  color:#fff;
  background-color:red;
}
.work-container{
    width: 100%;
    display: flex;
    padding: 10px 20px;
    flex-wrap: wrap;
    justify-content:space-between;
  }
  .work-card{
    width: 96%;
    margin: 10px auto;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    flex-grow: 0;
  }
  @media (min-width:540px) {
    .work-card{
      width: 48%;
    }
  }
  .work-card img{
    width: 100%;
    display: block;
  }
  .work-text{
    position: absolute;
    bottom:0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    color:#fff;
    padding-left: 10px;
    border-radius: 0px 0px 5px 5px;
  }
